@charset "utf-8";
/* CSS Document */

.title{
	color: lightgray;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 0px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}
.title-Common{
	color: white;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 0px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}
.title-Uncommon{
	color: limegreen;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 0px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}
.title-Epic{
	color: purple;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 0px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}

.title-Legendary{
	color: deeppink;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 0px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}
.title-Divine{
	color: yellow;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 0px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}
.title-Rare{
	color: deepskyblue;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 0px;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}


.slave-text{
	text-align: center;
	color: white;
	max-height: 40px;
	position: relative;
	overflow: hidden;
	text-shadow: 1px 1px 2px black;
}
.slave-text-list{
	text-align: left;
	color: white;
	max-height: 40px;
	padding-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	overflow: hidden;
	text-shadow: 1px 1px 2px black;
}
.image-container{
	display: flex;
	justify-content: left;
	padding-left: 0px;
}
.slave-text-balance{
	text-align: right;
	color: white;
	border-style: initial;
	padding-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-shadow: 1px 1px 2px black;
}
.title-modest{
	color: #292929;
	text-align: center;
	border-bottom: 1px solid #DFDFDF;
	padding: 2px 2px;
	width: 100%;
}