.image-container-product{
	display: flex;
	justify-content: left;
}
.slave-text-product-description{
	text-align: left;
	color: white;
	max-height: 200px;
	position: relative;
	overflow: hidden;
	text-shadow: 1px 1px 2px black;
}
.slave-text-count{
	text-align: right;
	color: black;
	position: relative;
}
/*https://www.w3schools.com/css/css_form.asp*/
.from-holder-textbox{
	width: 100%;
	height: 100%;
	padding: 0px 0px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}
.from-holder{
	width: 100%;
	height: 150px;
	padding: 2px 10px 2px 20px;
}