{% extends 'insert_product.html' %}
{% block insert_product_form %}
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.product_name.label }}: {{ form.product_name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.rarity_id.label }}: {{ form.rarity_id(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.image.label }}: {{ form.image(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.price.label }}: {{ form.price(class="form-control") }}
    </div>
    <div>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
