{% extends 'register.html' %}
{% block register_form %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.first_name.label }}: {{ form.first_name(class="form-control") }}
    </div>
    {% if form.first_name.errors %}
      <ul class="errors">{% for error in form.first_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    <div class="form-group">
      {{ form.last_name.label }}: {{ form.last_name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.email.label }}: {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label }}: {{ form.password(class="form-control") }}
    </div>
    <div>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
