{% extends 'signin.html' %}
{% block signin_form %}
  <form method="POST" action="">
    {{ form.csrf_token }}
    <div> {{ form.email.label }}: {{ form.email(class="") }} </div>
    <div> {{ form.password.label }}: {{ form.password(class="") }} </div>
    <div> {{ form.remember_me(class="") }} {{ form.remember_me.label }} </div>
    <div> {{ form.submit(class="") }} </div>
  </form>
{% endblock %}
