<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Base{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% block header %}{% endblock %}
  </head>
  <body style="background: #292929">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" href="/">Cykel och Bad</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
	  <li class="nav-item active">
	    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchkey">
	      <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
	    </form>
	  </li>
	</ul>
	<ul class="nav nav-item">
	  {% if current_user.is_authenticated %}
	  <li class="nav-item"><a class="nav-link active" href="/user/{{ current_user.id }}">{{ current_user.firstname }}</a></li>
	  <li class="nav-item"><a class="nav-link active" href="/signout">Sign out</a></li>
	  {% else %}
	  <li class="nav-item"><a class="nav-link active" href="{{ url_for('signin', next=request.endpoint) }}">Login</a></li>
	  <li class="nav-item"><a class="nav-link active" href="/register">register</a></li>
	  <li class="nav-item"><a class="nav-link" href="#"></a>
	    <img src="/static/shopping-cart-511.png" width="30" height="30" alt="">
	  </li>
	  {% endif %}
	</ul>
      </div>
    </nav>
    <!-- End Header -->

    <div class="container">
      <!--credit goes to  http://coreyms.com/-->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
	{{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
