{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-xl-1"></div>
  <div class="col-xl-10 bg-light">
    <div class="row">
      <div class="col-md-6">
	<ul class="list-group">
	  {% for item in shoplist %}
	  <li class="list-group-item bg-dark">
	    <div class="row">
	      <div class="col-md-4">
		<p class="slave-text-list">
		{{ item.ProductName }}
		</p>
	      </div>
	      <div class="col-md-4">
		<p class="slave-text-list">
		{{ item.Amount }}
		</p>
	      </div>
	      <div class="col-md-4">
		<p class="slave-text-list">
		{{ item.Price }}
		</p>
	      </div>
	    </div>
	  </li>
	  {% endfor %}
	  <li class="list-group-item bg-secondary">
	    <p class="slave-text-list">
	    Total = {{ sum }}
	    </p>
	  </li>
	  <form class="list-group-item" action="" method="post">
	    {% if (balance - sum) > 0 %}
	    <button type="submit" class="btn btn-outline-success" name="confirm"> Buy </button>
	    {% else %}
	    <button type="submit" class="btn btn-outline-success" disabled>No duck coins!</button>
	    {% endif %}
	  </form>
	</ul>
      </div>
      <div class="col-md-6">
	<div class="row bg bg-dark">
	  <div class="col-xl-4">
	    <div class="image-container">
	      <img src="blank-profile-picture-973460_640.png" width="128" height="128" class="image-container">
	    </div>
	  </div>
	  <div class="col-xl-8">
	    <ul class="list-group">
	      <p class="slave-text-list list-group-item bg-dark">First name: {{current_user.firstname}}</p>
	      <p class="slave-text-list list-group-item bg-dark">Laste name: {{current_user.lastname}}</p>
	      <p class="slave-text-list list-group-item bg-dark">Email: {{ current_user.email }}</p>
	      <p class="slave-text-list list-group-item bg-dark">Balance: <b class="slave-text-balance">{{ current_user.balance }}</b></p>
	    </ul>
	  </div>
	</div>
      </div>
    </div>

  </div>
  <div class="col-xl-1"></div>
</div>

{% endblock %}
