{% extends 'base.html' %}

{% block title %}Cykel och Bad{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8 bg-light">
      <div class="row">
	<div class="col-xl-6">
	  Set 1
	</div>
	<div class="col-xl-6">
	  Set 2
	</div>
      </div>
    </div>
    <div class="col-xl-2"></div>
  </div>
</div>
{% endblock %}
