{% extends 'base.html' %}
 {% block header %}

 {% endblock %}
{% block body %}
<div class ="container">
	<form action="/insert_role" method="post">
		<div class="form-row">
			<div class="col-md-2">
				<input type="number" class="form-control" name="roleid">
			</div>
			<div class="col-md-6">
				<input type="text" class="form-control" name="rolename">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Sign in</button>
	</form>
</div>
{% endblock %}
