{% extends 'base.html' %}
{% block header %}
  <script src="jquery-3.4.1.min.js">
  {# jquerry scripts todo #}
  </script>
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-1"></div>
	<div class="col-xl-10 bg-light" style="padding: 0px 0px 0px 0px">
	  <div class="row">
	    <div class="col-xl-6">
	      <ul class="list-group">
	      {% if items %}
	      {% for item in items %}
		<li class="list-group-item bg-secondary" style="padding: 0px 0px 0px 0px">
		  <a href="/product_page/pid={{ item.ProductID }}" class="list-group-item list-group-item-action bg-dark" id="list-{{ item.ProductID}}-list" {#role="tab" data-toggle="list"#}>
		    <div class="row align-content-center">
		      <div class="col-md-4">
			<img src="/Images/{{ item.ProductID }}/{{ item.Image}}" class="img-thumbnail" width="140" height="140">
		      </div>
		      <div class="col-md-8">
			<legend class="title">{{item.ProductName}}</legend>
			<p class="slave-text-list">Rarity: <b class="title-{{item.RarityName}}">{{ item.RarityName }}</b></p>
			<p class="slave-text-list">Price: {{ item.Price }}</p>
		      </div>
		    </div>
		  </a>
		</li>
	      {% endfor %}
	      {% endif %}
	      </ul>
	    </div>
	    <div class="col-xl-6">
	    {#
	    <div class="tab-content" id="nav-tabContent">
	    {% for item in items %}
	    <legend class="title">{{ item[0] }}</legend>
	    <div class="tab-pane fade" id="list-{{ item[4] }}" role="tabpanel" aria-labelledby="list-{{ items[4] }}-list">
	    <div class="row">
	    <div class="col-md-4 image-container">
	    <img width="128" height="128" src="style/blank-profile-picture-973460_640.png">
	    </div>
	    <div class="col-md-8 slave-text-list">
	    Stats table here
	    </div>
	    </div>
	    </div>
	    {% endfor %}
	    </div>
	    #}
	    <div class="row">
	      <div class="col-xl-6">
		<form action="" method="post">
		  <button type="submit" value="back" name="b" class="btn-sm btn-primary">back</button>
		</form>
	      {# offset Backwards #}
	      </div>
	      <div class="col-xl-6">
		<form action="" method="post">
		  <button type="submit" value="next" name="n"  class="btn-sm btn-primary">next</button>
		</form>
		{# offset Forward #}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-xl-1"></div>
    </div>
  </div>
{% endblock %}
