{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/shoplist.css">
{% endblock %}


{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-1">
      <!-- empty div, left side-->
    </div>
    <div class="col-xl-10 bg-light" style="padding: 1px 1px 1px 1px">
      {# todo make nicer #}
      {% if data %}
      <ul class="list-group">
	{% for item in data %}
	{% if id %}
	{# user is selecting item to add to specific cart, data is table ShoppingCart #}
	<a class="list-group-item bg-dark" href="/product_page/pid={{ id }}/buy/{{ item.ShoppingCartID }}"> <p class="slave-text-list"> {{item.ShoppingCartName}}</p></a>
	{% else %}
	{# if user is requestion specific cart form user page, data is table ShoppingCartItem #}
	<a class="list-group-item bg-dark" href="/product_page/pid={{ item.ProductID }}">
	  <div class="row">
	    <div class="col-md-11">
	      <p class="slave-text-list"> {{item.ProductName}} </p> <b class="slave-text-balance">{{ item.Price }}</b>
	    </div>
	    <div class="col-md-1 bg-light image-container-shop">
	      {{ item.Amount }}
	    </div>
	  </div>
	</a>
	{% endif %}
	{% endfor %}
      </ul>
      {% else %}
      No Items!
      {% endif %}
    </div>
    <div class="col-xl-1">
      <!-- empty div right side-->
    </div>
  </div>
</div>



{% endblock %}
