{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10 bg-light">
      <div class="row bg-dark">
	<div class="col-xl-6">
	  <div class="row bg bg-dark">
	    <div class="col-xl-4">
	      <div class="image-container">
		<img src="blank-profile-picture-973460_640.png" width="128" height="128" class="image-container">
	      </div>
	    </div>
	    <div class="col-xl-8">
	      <ul class="list-group">
		<p class="slave-text-list list-group-item bg-dark">First name: {{current_user.firstname}}</p>
		<p class="slave-text-list list-group-item bg-dark">Laste name: {{current_user.lastname}}</p>
		<p class="slave-text-list list-group-item bg-dark">Email: {{ current_user.email }}</p>
		<p class="slave-text-list list-group-item bg-dark">Balance: <b class="slave-text-balance">{{ current_user.balance }}</b></p>
	      </ul>
	    </div>
	    <div class="col-xl-12">
	      <ul class="list-group">
		{% for order in orders %}
		<li class="list-group-item bg-dark"> <p class="slave-text-list">ID:{{ order.OrderID }}</p></li>
		<li class="list-group-item bg-dark"> <p class="slave-text-list">Order:{{ order.OrderID }}</p></li>
		{# todo print items as nested  #}
		{% endfor %}
	      </ul>
	    </div>
	  </div>
	</div>
	<div class="col-xl-6 bg-dark">
	  <div class="list-group ">
	    <legend class="title">Activity</legend>
	    <p class="slave-text-list list-group-item bg-dark">
	    Created at {{ current_user.created }}
	    </p>
	    <legend class="title">Shopping Carts</legend>
	    {% for shop in shopCart %}
	    <a class="list-group-item slave-text-list bg-dark" href="/cartitems/{{shop.ShoppingCartID}}">{{ shop.ShoppingCartName }}</a>
	    <a class="btn-sm btn-outline-success"  href="/user/{{ current_user.id }}/{{ shop.ShoppingCartID }}">checkout</a>
	    {% endfor %}
	    <div class="col-xl-6">
	      <legend class="title">Add New Shopping cart</legend>
	      <form  action="/addShoppingcart"  method="post">
		<div class="form-group">
		  <input type="text" class="form-control" name="nameNew" placeholder="Name" >
		</div>
		<div class="form-group">
		  <button type="submit" class="btn btn-outline-success"> Add Cart</button>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
  <div class="col-xl-1"></div>
</div>
</div>
{% endblock %}
