 <!doctype>

<html>
<div class="container-fluid">
{% for item in data %}
        <tr>
            <td>
                <div style="border:thin; background: #FFA71A; max-width: 500px">
                    Namn på produkt: <a href="http://localhost:5000/product_page/pid={{ item.ProductID }}">{{item.ProductName}}</a>
                </div>
            </td>
        </tr>
{% endfor %}
</div>
</html>